@font-face {
  font-family: 'Edu SA Begginer';
  src: url(./fonts/EduSABeginner.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url(./fonts/RobotoCondensed-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  src: url(./fonts/Montserrat.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fffbe7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layout {
  width: 90%;
  margin: 0 auto;
}

/* CSS DEL HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-bottom: 2px solid #E78EA9;
  margin-bottom: 30px;
}

.header .logo{
  flex-grow: 1;
  display: flex;
}

.header .logo .span-normal {
  display: block;
  font-size: 75px;
  font-weight: bolder;
  color: #2E0249 ;
}

.header .logo h2 {
  display: block;
  flex-basis: 200px;
  margin-left: 10px;
  font-weight: 400;
  font-family: Edu SA Begginer;
  font-size: 26px;
}

.header nav {
  flex-grow: 2;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 120px;
}

.header li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: Roboto;
}

.header li a {
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

.header a:hover {
  color: #f23e6b;
}

.header .active {
  color: #f23e6b;
  font-size: 20px;
}

/* CSS DEL CONTENIDO */
.content {
  min-height: 400px;
  margin-left: 50px;
  margin-right: 50px;
}

/* CSS PÁGINA DE INICIO */
.introduction {
  display: flex;
  justify-content: center;
}

.personal-text {
  display: block;
  text-align: center;
  font-family: Montserrat;
  font-size: 22px;
}

.text-strong {
  color: #24A19C;
}

.personal-photo {
  display: block;
  width: 300px;
  height: 467px;
  margin-left: 150px;
  border-radius: 20px;
  box-shadow: 6px 6px 5px #E78EA9;
}

.personal-photo:hover {
  transform: scale(1.2);
}

/* CSS PÁGINA DE FORMACIÓN Y EXPERIENCIA */
.training,
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.training h2,
.experience h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #06938e;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

.h2-bottom {
  padding-top: 60px;
}

.tecnologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tec-item {
  width: 300px;
  text-align: center;
  margin: 5px;
}

/*.tec-item img {
  padding: 20px;
  width: 100px;
  height: 100px;
  transition: all 300ms;
}

.tec-item .large{
  width: 200px;
}*/

.tec-item img:hover,
.tec-item .large:hover {
  transform: scale(1.4);
}

.centers,
.platform,
.accenture,
.physiotherapy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 5px;
  justify-content: flex-start;
}

.platform {
  justify-content: flex-end;
}

/*.studies-photo,
.studies-info,
.courses-photo,
.courses-info {
  margin: 15px;
}

.studies-photo,
.courses-photo {
  width: 200px;
}*/

.studies-info,
.courses-info,
.experience-info {
  margin: 15px;
  font-family: 'Montserrat';
  font-size: 20px;
  line-height: 30px;
}

.experience-info p {
  font-size: 17px;
  margin-top: 0;
}

/* CSS PÁGINA CONTACTO */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-text {
  font-family: 'Montserrat';
  font-size: 37px;
  color: #06938e;
}

.message-hidden,
.message2-hidden {
  display: none;
}

.message-active,
.message2-active {
  display: block;
  color: #377D71;
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: bold;
}

.message2-active {
  color: red;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

input[type='text'],
input[type='email'],
textarea {
  padding: 10px;
  margin-top: 20px;
  min-width: 350px;
  border-radius: 5px;
  font-family: 'Montserrat';
  font-size: 16px;
}

input[type='submit'],
button {
  background: #22bdb8;
  color: black;
  font-weight: bold;
  font-size: 18px;
  font-family: 'Montserrat';
  border: 0px;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
  transition: all 300ms;
  width: 150px;
  box-shadow: 3px 3px 5px #325288;
}

input[type='submit']:hover,
button:hover {
  cursor: pointer;
  background: #325288;
  color: white;
}

.social-networks {
  display: flex;
}

.social-icons {
  width: 40px;
  height: auto;
  margin-left: 5px;
  margin-right: 5px;
  transition: all 300ms;
}

.social-icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* CSS DEL FOOTER*/
.footer {
  text-align: center;
  border-top: 2px solid #E78EA9;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 1100px) {
  .introduction {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 835px) {
  .header .logo h2,
  .header .logo .span-normal {
    visibility: hidden;
  }
}